body {
  text-align: center;
  margin: 0;
}
header {
  background-color: #F15B31;
  color: #FFFFFF;
  padding: 30px 20px;
}
h1 {
  margin: 0;
  font-family: "Raleway";
  font-weight: 400;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
}
a:hover {
  border-color: white;
}
nav {
  background-color: #00A6B3;
  padding: 20px 0;
}
nav a {
  color: #FFFFFF;
}

a {
  font-family: "Raleway";
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
}
h1, h2, a {
  text-transform: uppercase;
}
main {
  width: 850px;
  margin: 35px auto;
}
h2 {
  font-family: "Raleway";
  color: #0D2C40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}
p {
  font-family: "Droid Serif";
  line-height: 26px;
  font-size: 18px;
}
img {
  margin: 40px 8px 0 8px;
}
input {
  font-family: "Raleway";
  background-color: #F15B31;
  color: #FFFFFF;
  border-radius: 6px;
  font-size: 18px;
  margin: 10px 0px;
}
input:hover {
  border-color: #F15B31;
  background-color: #FFFFFF;
  color: #F15B31;
}
footer {
  text-transform: uppercase;
  padding: 0 20px;
  background-color: #0D2C40;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  weight: 500;
}
.copyright {
  font-family: 'Raleway';
  float: left;
}
.message {
  font-family: 'Raleway';
  float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
.name {
  color: #F15B31;
  wight: 700;
}
